body {
  background-color: rgb(192, 147, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  text-align: center;
  margin: 40px auto;
  padding-bottom: 10px;
  font-size: 70px;
  width: 600px;
  border: solid 2px black;
  border-radius: 50px;
}
#app {
  min-height: 220px;
  width: 1000px;
  margin: 0 auto;
  background-color: #f5eddde3;
  border-radius: 30px;
}
.class-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
.list-class {
  font-size: 40px;
  max-width: 500px;
  padding: 30px 15px;
}
button {
  background: none;
  margin-left: 20px;
  border: solid black 1px;
  border-radius: 50px;
  padding: 5px;
  font-size: 20px;
}
.list-students {
  font-size: 25px;
  padding: 15px;
}
.list-students button {
  font-size: 15px;
}
.notes {
  padding: 5px;
  font-size: 15px;
}
